
section.main.st-emotion-cache-bm2z3a.ea3mdgi8{
    background-image: url('https://i.pinimg.com/564x/c1/4d/80/c14d803767d21c276ca62f45af0f13ec.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}


div.st-emotion-cache-1wmy9hl.e1f1d6gn1{
    width: 65pc;
    margin-left: 1pc;
}


div.st-emotion-cache-ocqkz7.e1f1d6gn5{
    gap: 3pc;
}