section.main.st-emotion-cache-bm2z3a.ea3mdgi8{
    background-image: url('https://github.com/mya-ugeh/siwes-presentation/blob/master/wp5187881-4k-black-wallpapers.jpg?raw=true');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed
}

/* header.st-emotion-cache-12fmjuu.ezrtsby2{
    visibility: hidden;
} */

iframe{
    width: 39pc;
    /* margin-left: 14pc; */
}

a.st-emotion-cache-1ol4dec.e16zdaao0{
    background-color: #003853;
    border-width: medium;
    position: relative;
    margin-top: 230px;
    font-weight: bold;
    border-color: white;
}

/* div.element-container.st-emotion-cache-sxe3pd.e1f1d6gn4{
    margin-top: -52px;
} */

/* div.block-container.st-emotion-cache-1jicfl2.ea3mdgi5{
    background-color: black;
} */
div.st-emotion-cache-6qob1r.eczjsme3{
    background-color: black;
}

section.main.st-emotion-cache-bm2z3a.ea3mdgi8{
    background-color: black;
}

div.st-emotion-cache-0.e1f1d6gn0{
    margin-left: -5pc;
}


div.st-emotion-cache-ocqkz7.e1f1d6gn5{
    margin-left: 4pc;
}


div.element-container.st-emotion-cache-fayrgp.e1f1d6gn4{
    margin-left: 2pc;
}

h3#what-is-machine-learning{
    width: 500pc;
    font-size: xx-large;
    margin-top: 1pc;
}

h3#what-is-artificial-intelligence{
    width: 500pc;
    font-size: xx-large;
    margin-top: 1pc;
}

h3#causes-treatment-prevention{
    width: 500pc;
    font-size: xx-large;
    margin-top: 1pc;
}

h3#mimo{
    width: 500pc;
    font-size: xx-large;
    margin-top: 1pc;
}

/* div.st-emotion-cache-v7chr5.e1f1d6gn2{
    margin-left: 14pc;
} */

/* 
div.element-container-st-emotion-cache-fayrgp.e1f1d6gn4{
    margin-left: -15pc;
} */

div.st-emotion-cache-6qob1r.eczjsme8{
    background-color: black;
}


/* div.st-emotion-cache-1wmy9hl.e1f1d6gn1{
    margin-left: 18pc;
} */


/* div.st-emotion-cache-keje6w.e1f1d6gn3{
    margin-left: 22pc;
    margin-top: -11pc;
} */