section.main.st-emotion-cache-bm2z3a.ea3mdgi8{
    background-image: url('https://github.com/mya-ugeh/siwes-presentation/blob/master/9895435.png?raw=true');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

div.st-emotion-cache-1wmy9hl.e1f1d6gn1{
    width: 40pc;
    margin-left: 2pc;
}