section.main.st-emotion-cache-bm2z3a.ea3mdgi8{
    background-image: url('https://i.pinimg.com/736x/56/69/fa/5669fa8d8ec9a3cf6de4e7acdc207782.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed
}

h3#about-cardio-insight{
    width: 500pc;
    font-size: xx-large;
    margin-top: 1pc;
    margin-left: 3pc;
}


div.st-emotion-cache-7keqgh.e1nzilvr4{
    margin-left: 3pc;
    color: white;
}


div.st-cy.st-af.st-cz.st-d0.st-d1.st-d2.st-d3.st-d4.st-d5.st-d6.st-d7.st-d8.st-d9{
    background-color: black;
    margin-left: -11pc;
    border: inset;
    border-color: black;
    margin-top: -1pc;
}
