section.main.st-emotion-cache-bm2z3a.ea3mdgi8{
    background-image: url('https://github.com/mya-ugeh/siwes-presentation/blob/master/wp3311446-black-beautiful-wallpaper.jpg?raw=true');
}

div.st-emotion-cache-1ab9dzl.e1f1d6gn5{
    width: 698px;
    margin-left: -6pc;
}


div.st-emotion-cache-ocqkz7.e1f1d6gn5{
    width: 737px;
    margin-left: -5pc;
}

div.row-widget.stRadio{
    margin-left: -3pc
}

p{
    font-size: large;
}

button.st-emotion-cache-19rxjzo.ef3psqc7{
    background-color: #012034;
    margin-left: -3pc;
}


div.st-emotion-cache-1ec096l.e1q9reml4{
    width: 55pc;
}


div.element-container.st-emotion-cache-fayrgp.e1f1d6gn4{
    margin-left: -3pc;
}


/* label.st-emotion-cache-1qg05tj.e1y5xkzn3{
    margin-left: -3pc;
} */

/* div.st-emotion-cache-1tpl0xr.e1nzilvr4{
    margin-left: -3pc;
} */