section.main.st-emotion-cache-bm2z3a.ea3mdgi8{
    background-image: url('https://github.com/mya-ugeh/siwes-presentation/blob/master/login_bg.png?raw=true');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

button.st-emotion-cache-19rxjzo.ef3psqc12{
    box-sizing: border-box;
    border: none;
    border-radius: revert;
    background-color: #1c1c3a;
    margin-left: -10px;
}


button.st-emotion-cache-19rxjzo.ef3psqc12{
    margin-left: 2.5pc;
}


div.st-emotion-cache-1xw8zd0.e10yg2by1{
    width: 300px;
    margin-left: 2pc;
    border: none;
}


div.st-emotion-cache-1wmy9hl.e1f1d6gn1{
    width: 300px;
    margin-left: 3pc;
    border: none;
}


button.st-emotion-cache-8ijwm3.ef3psqc7{
    background-color: white;
    color: #1c1c3a;
    font-weight: bold;
    font-style: italic;
}